
<%-include('includes/admin_header')-%>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form action="/adminsignup" method="post" onsubmit="return validateForm()">
            <label for="chk" aria-hidden="true">ADMIN</label>
        
            <input type="email" name="email" id="email" placeholder="Email" >
            <div class="error-message" id="email-error"></div>
            
            <input type="password" name="password" id="password" placeholder="Password" >
            <div class="error-message" id="password-error"></div>
            
            <button type="submit">Sign in</button>
        </form>
    </div>
</div>
<%-include('includes/admin_footer')-%> 