<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="/assests/css/admin_log.css">
  <!-- <script>
    function validateForm() {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
        let valid = true;

        // Clear previous error messages
        document.getElementById('email-error').textContent = '';
        document.getElementById('password-error').textContent = '';

        if (!emailPattern.test(email)) {
            document.getElementById('email-error').textContent = 'Please enter a valid email address.';
            valid = false;
        }

        if (!passwordPattern.test(password)) {
            document.getElementById('password-error').textContent = 'Password must be at least 8 characters long, contain at least one number, one uppercase and one lowercase letter.';
            valid = false;
        }

        return valid;
    }
</script> -->
</head>
<body>